<!-- <p>schedules works!</p>
<div>
    <mat-form-field appearance="outline" class="mat-filter-select">
      <mat-label>Sub Category</mat-label>
      <mat-select #matSubCatSelect [(ngModel)]="selected">
        <mat-option *ngFor="let data of months" [value]="data"
                    (onSelectionChange)="onSelectMonth($event)">
          <span>{{data.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
</div> -->
<!-- <ejs-schedule height="850" width="1250" [currentView]="setView"></ejs-schedule> -->
<ejs-schedule #scheduleObj cssClass='schedule-resource' width='100%' height='650px' [selectedDate]="selectedDate"
            [eventSettings]="eventSettings">
    <e-resources>
        <e-resource field='OwnerId' title='Owners' [dataSource]='resourceDataSource' [allowMultiple]='allowMultiple'
            name='Owners' textField='OwnerText' idField='OwnerId' colorField='Color'>
        </e-resource>
    </e-resources>
      <e-views>
            <e-view option="Month"></e-view>
    </e-views>
</ejs-schedule>
